
.body-color-azul {
    background-color: #15375A;
}

.p-da {
    text-decoration:double;
}

.bg-verde-pastel {
    background-color: rgb(100, 206, 139);
}

.bg-naranja-pastel {
    background-color: rgb(206, 172, 100);
}